# Python
.venv/
__pycache__/
*.pyc
*.pyd
.pytest_cache/
*.so
docs/build/
*.benchmarks
.ruff_cache/

# Rust
target/
Cargo.lock

# Maturin / Build
dist/

# git
*~
*.un~
*.swp
*.swo
*.swn

# IDE
.vscode/
